<!doctype html>

<html>
<head>
  <title>{{ .Resume.Contact.FirstName }} {{ .Resume.Contact.LastName }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ .Stylesheet }}">
</head>
<body>
<main>

<section id="contact">
  <div class="heading">
    <div class="name">{{ .Resume.Contact.FirstName }} {{ .Resume.Contact.LastName }}</div>
    <div class="title">{{ .Resume.Contact.Title }}</div>
  </div>
  <div class="content">
    <div>{{ .Resume.Contact.Address.Line1 }}</div>
    <div>{{ .Resume.Contact.Address.City }}, {{ .Resume.Contact.Address.State }} {{ .Resume.Contact.Address.ZipCode }}</div>
    <div>{{ .Resume.Contact.Phone }}</div>
    <div class="email"><a href="mailto:{{ .Resume.Contact.Email }}">{{ .Resume.Contact.Email }}</a></div>
    <div class="links">
      <div>Projects and Source Code:</div>
{{ range $index, $link := .Resume.Contact.Links }}
      <div class="link"><a href="{{ $link.Href }}">{{ $link.Name }}</a></div>
{{ end }}
    </div>
  </div>
</section>

<section id="work-experience">
  <div class="heading">
    <div class="name">Work Experience</div>
  </div>
  <div class="content">
{{ range $index, $employment := .Resume.Employments }}
    <div class="employer">
      <div class="name">{{ $employment.Name }}</div>
      <div class="title">{{ $employment.Title }}</div>
      <div class="dates">{{ $employment.Years }}, {{ $employment.City }}, {{ $employment.State }}</div>
      <div class="keywords">{{ range $index, $keyword := $employment.Keywords }}{{ if $index }}, {{ end }}{{ $keyword }}{{ end }}</div>
      <div class="experience">
        <ul>
{{   range $index, $item := $employment.Experience }}
            <li>{{ $item }}</li>
{{   end }}
        </ul>
      </div>
    </div>
{{ end }}
  </div>
</section>

<section id="skills">
  <div class="heading">
    <div class="name">Skills</div>
  </div>
  <div class="content">
    <div>{{ range $index, $skill := .Resume.Skills }}{{ if $index }}, {{ end }}{{ $skill }}{{ end }}</div>
  </div>
</section>

<section id="education">
  <div class="heading">
    <div class="name">Education</div>
  </div>
  <div class="content">
    <div class="degree">{{ .Resume.Education.Degree }} {{ .Resume.Education.Major }}, {{ .Resume.Education.Institution }}</div>
    <div class="dates">{{ .Resume.Education.Years }} {{ .Resume.Education.Status }}</div>
  </div>
</section>

</main>
</body>
</html>
