div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, th, td,
body, html, code, form, fieldset, legend, input, textarea, p, blockquote
{
  margin:  0px;
  padding: 0px;
}

html, body {
  background: {{ .Palette.Background }};
  box-sizing: border-box;
  font:       normal 12pt helvetica, sans-serif;
  padding:    1em 1em;
  height:     100vh;
  width:      100%;
}

section {
  display:        flex;
  flex-direction: row;
  margin-bottom:  2em;
}

section > .heading {
  flex:         0 0 20%;
  font-weight:  bold;
  margin-right: 1em;
}

section > .content {
  border-top:  4px solid {{ .Palette.Borders }};
  flex:        1 1 auto;
  padding:     1em 0em;
  margin-left: 1em;
}

#contact .heading .name {
  font-size: 2.00em;
}

#contact .heading .title {
  color:     {{ .Palette.Hilite }};
  font-size: 1.25em;
}

#contact .content a {
  color:           {{ .Palette.Hilite }};
  text-decoration: none;
}

#contact .content a:hover {
  color: {{ .Palette.Hilite }};
}

#contact .content a:visited {
  color: {{ .Palette.Hilite }};
}

#work-experience .content .employer {
  margin: 1em 0em;
}

#work-experience .content .employer .name {
  font-size:   1.15em;
  font-weight: bold;
}

#work-experience .content .employer .title {
  font-weight: bold;
}

#work-experience .content .employer .experience ul {
  padding: 0.5em 0em;
}

#work-experience .content .employer .experience li {
  margin: 0.5em 2em;
}

#education .content .degree {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  section > .heading {
    flex:         0 0 30%;
    font-weight:  bold;
    margin-right: 1em;
  }
}
